*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
}

body{
  overflow: hidden;
  width: 100%;
}

.game-container {
  width: 100%;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem;
  background: rgb(191, 239, 247);
}

.button-container button {
  padding: 0.7rem 1.3rem;
  background: #2a7dfb;
  color: #fff;
  border-radius: 0.3rem;
  transition: 0.3s ease;
}

.button-container button:hover {
  background: #065fe6;
  cursor: pointer;
}